.mintgui {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10% 0% 10% 0%;
  margin: 0% 0% 0% 0%;
  position: absolute;
  overflow: hidden;
  font-family: monospace;
  font-weight: bold;
}



.mintguiLeftContainer {
  flex: 50%;
  display: flex;
  align-items: flex-end;
  padding: 0% 0% 0% 10%;
}


.comicCoverImage {
  width: 55%;
  margin-left: 15%;
  border-color: #B8C0FF;
  border-style: solid;
  border-width: 35px 45px 35px 45px;
}

.comicDescriptionImage {
  width: 70%;
}




.mintguiRightInnerContainer {
  padding: 5% 0% 5% 0%;
  border-radius: 35px 35px 0px 0px;
  margin-right: 10%;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.connectButton  {
  font-size: 22px !important;
  margin-bottom: 5%;
}

.mintguiConnectContainer {
  background-color: #000000;
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 90%;
  border-radius: 0px 0px 0px 0px;
  padding-bottom: 0%;
  margin-bottom: 0%;
}

.mintWithBaseContainer {
  padding: 0% 0% 5% 0%;
  border-radius: 0px 0px 35px 35px;
}

.mintguiInfoContainer {
  background-color: #000000;
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 90%;
  border-radius: 0px 0px 0px 0px;
}

.mintguiButtonsContainer1 {
  background-color: #000000;
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 90%;
  border-radius: 0px 0px 0px 0px;
}

.mintguiButtonsContainer2 {
  background-color: #000000;
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 90%;
  border-radius: 0px 0px 35px 35px;
  padding-bottom: 5%;
}

.mintguiInfo {
  background-color: #000000;
  color: #ffffff;
  border-color: #ffffff;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  width: 35%;
  margin-left: 2%;
  margin-bottom: 1%;
  padding: .75% 1% 1% 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.mintguiButton {
  cursor: pointer;
  background-color: #B8C0FF;
  border-color: #B8C0FF;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  width: 35%;
  margin-left: 2%;
  padding: .75% 1% 1% 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.mintguiInputField {
  border-radius: 4px;
  width: 35%;
  margin-left: 2%;
  padding: .5% 1% 1% 1%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.amountEntry {
  font-size: 17px;
  line-height: 28px;
}

.mintButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2% 0% 0% 0%;
}

.mintedContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2% 0% 0% 0%;
  padding: 2% 0% 2% 0%;
  border-radius: 35px 35px 35px 35px;
  border-color: #ffffff;
  border-width: 2px;
  border-style: solid;
}

.mintguiOpenSeaLink {
  display: none;
  z-index: 999;
  font-size: 25px;
  background-color: #B8C0FF;
  border-color: #B8C0FF;
  border-width: 2px;
  border-style: solid;
  width: 100%;
}

.customAmountText {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0% 0% 0% 0%;
  margin: 0% 0% 0% 0%;
  overflow: hidden;
  font-family: monospace;
  font-weight: bold;
}

.baseLogoImage {
  width: 12%;
  padding: 2% 4.5% 2% 3.5%;
  background-color: #ffffff;
  border-radius: 30px;
}

.mintOnBaseText {
  font-size: 23px !important;
  margin-right: 2%;
}

@media only screen and (max-width: 560px) {
  .mintguiBoxIMG {
    width: 100%;
  }
  .mintgui {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 100vw;
    margin: 0% 0% 0% 0%;
    padding: 15% 0% 20% 0%;
  }

  .mintguiRight {
    align-items: center;
    justify-content: center;
  }

  .mintguiImageContainer2 {
    margin-bottom: -8vh;
  }

  .mintguiLeftContainer {
    padding: 0% 5% 0% 5%;
    margin: 0% 0% 0% 0%;
  }

  .mintguiTextContainer {
    padding: 0% 0% 0% 0%;
    margin: 0% 0% 0% 0%;
  }

  .mintguiTitle {
    font-size: 20.5px;
  }

  .mintguiTagline {
    font-size: 14px;
  }

  .mintguiImage {
    width: 90%;
    padding: 0% 0% 0% 5%;
    margin: 10% 0% 0% 0%;
  }

  .mintguiLink {
    width: 100%;
  }

  .mintguiButtonsContainer {
    /* margin-top: -10%;
    margin-left: 5%; */
    justify-content: center;
    align-items: center;
  }

  .mintguiButton {
    cursor: pointer;
  }
  
  /* .mintguiButton {
    width: 30%;
  } */
  
  /* .mintguiMintButton {
    margin-right: 5%;
  } */
  
  .signUpButton {
    width: 37.5vw;
    margin-left: 25vw;
  }

}
