.footer {
  width: 100%;
  overflow: hidden;
  padding: 3% 0% 0% 0%;
}

.footerContainer {
  margin: 0% 0% 0% 0%;
  padding: 0% 0% 0% 0%;
  
}

.footerTextContainer {
  color: #000000;
}

.creatorAttributionContainer {
  text-align: right;
  display: none;
  align-items: right;
}

.creatorAttributionText {
  text-align: right;
  align-items: right;
}

.creatorAttributionLink {
  text-align: right;
  align-items: right;
}



@media only screen and (max-width: 560px) {
  .footer {
    width: 100%;
    padding: 10% 0% 0% 0%;
  }

  .footerContainer {
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
  }
}
